html,
body {
    height: 100%;
    .lock {
        overflow-y: hidden;
    }
}

body {
   background-color: $white;
   color: $black; 
   @extend %inter-400;
   font-size: 16px;
   line-height: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container-lg {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 1246px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.btn-burger {
    display: none;
    @include lg {
        display: block;
    }
}

.logo,
.logo-white {
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.title {
    @extend %inter-800;
    font-size: 48px;
    line-height: 1.3;
    color: $text;

    @include md {
        font-size: 38px;
    }
}

.title-lg {
    @extend %poppins-600;
    font-size: 50px;
    line-height: 1.2;
    color: $black;

    @include md {
        font-size: 42px;
    }
}

