<footer class="footer">
    <div class="container-sm">
        <div class="footer__top">
            <div class="footer__block">
                <a class="logo-white" href="#">
                    <img class="logo__img-white" src="../img/logo-white.svg" alt="Logo">
                </a>
                <div class="footer__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                        venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem
                    </p>
                </div>
            </div>

            <nav class="footer__block">
                <a class="footer__title">Service</a>
                <ul class="footer__items">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Domain
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Shared Hosting
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Cloud Hosting
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Private Hosting
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="footer__block">
                <a class="footer__title">Hosting</a>
                <ul class="footer__items">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Cheap Hosting
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Hosting Wordpress
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Email Hosting
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Hosting Unlimited
                        </a>
                    </li>
                </ul>

            </nav>

            <nav class="footer__block">
                <a class="footer__title">Company</a>
                <ul class="footer__items">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            About
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Career
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Contact Us
                        </a>
                    </li>
                </ul>

            </nav>

            <nav class="footer__block">
                <a class="footer__title">Help</a>
                <ul class="footer__items">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            FAQ
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Help support
                        </a>
                    </li>
                </ul>

            </nav>


        </div>


    </div>
</footer>