<!-- <header class="header">
    <div class="container-sm">

        <nav class="header__nav">
            <a class="logo" href="#">
                <img class="logo__img" src="../img/logo.svg" alt="Logo" >
            </a>

            <a class="header__link" href="#">
                Our Services
            </a>

            <ul class="header__inner">
                <li class="header__item">
                    <a class="header__link" href="#">
                        About 
                    </a>
                </li>

                <li class="header__item">
                    <a class="header__link" href="#">
                        Blog&News
                    </a>
                </li>

                <li class="header__item">
                    <a class="header__link" href="#">
                        Contact 
                    </a>
                </li>
            </ul>

            <a class="header__link" href="#">
                Account
            </a>

            <a class="header__tel" href="#">
                +2349067322844
            </a>
        </nav>

    </div>
</header> -->