<section class="hero">
    <div class="container-sm">
        <div class="hero__inner">
            <div class="hero__content">
                <nav class="hero__nav">
                    <ul class="hero__items">
                        <li class="hero__item">
                            <a v href="#" >
                                Hosting
                            </a>
                        </li>
    
                        <li class="hero__item">
                            <a v href="#" >
                                Domain
                            </a>
                        </li>
    
                        <li class="hero__item">
                            <a v href="#" >
                                SEO 
                            </a>
                        </li>
    
                        <li class="hero__item">
                            <a v href="#" >
                                Email
                            </a>
                        </li>
                    </ul>
    
                </nav>

                <h1 class="hero__title">
                    Premium Web Hosting for Your Website
                </h1>

                <span class="hero__text">Blazing fast web hosting for individuals and businesses of all sizes backed by 24x7x365 Support.</span>
                
                <button class="hero__btn hero__btn--create">
                    Create an Account
                </button>

                <button class="hero__btn">
                    Choose your plan
                </button>

            </div>

            <div class="hero__picture">
                <img class="hero__img" src="../img/girl.jpg" alt="Girl near the computer" width="501" height="504">
            
                <svg class="hero__triengl hero__triengl--left">
                    <use xlink:href="img/sprite.svg#triengl-1"></use>
                </svg>
                <svg class="hero__triengl hero__triengl--top">
                    <use xlink:href="img/sprite.svg#triengl-big"></use>
                </svg>
                <svg class="hero__triengl hero__triengl--big">
                    <use xlink:href="img/sprite.svg#triengl-big"></use>
                </svg>
            </div>
           
           
        </div>
    </div>
</section>