<section class="prices">
    <div class="container-sm">

        <h2 class="prices__title title-lg">
            Ready to get started with Lemon Wares?
        </h2>
        <span class="prices__text">
            Choose the package that suits you
        </span>
        <div class="prices__choose">
            <span class="prices__time">
                Monthly
            </span>
            <label class="prices__switch" for="toggle">
                <input class="prices__checkbox" type="checkbox" id="toggle" name="toggle" checked>
                <span class="prices__slider"></span>
            </label>
            <span class="prices__time prices__time--year">
                Yearly
            </span>
            <span class="prices__discount">
                20% discount
            </span>
        </div>

        <div class="prices__filter filter">
            <button class="filter__btn" type="button" data-filter=".basic">
                Basic
            </button>
            <button class="filter__btn" type="button" data-filter=".premium">
                Premium
            </button>



            <div class="filter__inner">
                <div class="filter__content mix basic">
                    <div class="filter__case">
                        <h4 class="filter__title">
                            Starter
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>2.80</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>

                    <div class="filter__case">
                        <h4 class="filter__title">
                            Standard
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>4.20</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>

                    <div class="filter__case">
                        <h4 class="filter__title">
                            Suprem
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>7.00</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts 
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>

                    
                </div>
                <div class="filter__content mix premium">
                    <div class="filter__case">
                        <h4 class="filter__title">
                            Starter
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>2.80</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>

                    <div class="filter__case">
                        <h4 class="filter__title">
                            Standard
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>4.20</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>

                    <div class="filter__case">
                        <h4 class="filter__title">
                            Suprem
                        </h4>
                        <span class="filter__text">
                            with all your customers via all conversation channels in one central dashboard.
                        </span>
                        <span class="filter__price">
                            <span class="filter__currency">$</span>7.00</span>
                        <span class="filter__time">
                            Per month
                        </span>
                        <button class="filter__button">
                            Choose this Plan
                        </button>
                        <ul class="filter__list">
                            <li class="filter__item">
                                2GB SSD
                            </li>
    
                            <li class="filter__item">
                                10GB Bandwidth
                            </li>
    
                            <li class="filter__item">
                                15 Email Accounts 
                            </li>
    
                            <li class="filter__item">
                                Unlimited Database
                            </li>
    
                            <li class="filter__item">
                                4 Subdomains
                            </li>
    
                            <li class="filter__item">
                                1 Parked Domain
                            </li>
    
                            <li class="filter__item">
                                2 Websites
                            </li>
    
                            <li class="filter__item">
                                Free SSL
                            </li>
    
                            <li class="filter__item">
                                Softaculous
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>