<section class="testimonials">
    <div class="container-sm">
        <div class="testimonials__top">
            <div class="testimonials__inner testimonials__inner--left">
                <h3 class="testimonials__title title">
                    Real Stories from Real Customers
                </h3>

                <span class="testimonials__text">
                    Get inspired by these stories.
                </span>

                <blockquote class="testimonials__story testimonials__story--side">
                    <a class="testimonials__link" href="#">
                        <img class="testimonials__img" src="../img/brends/cli.svg" alt="logo" width="120px" height="70px">
                    </a>
                    <div class="testimonials__content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem
                        </p>
                    </div>
                    <cite class="testimonials__name">
                        Floyd Miles
                        <span class="testimonials__post">
                            Vice President, CLI
                        </span>
                    </cite>
                </blockquote>
            </div>

            <div class="testimonials__inner testimonials__inner--right">
                <blockquote class="testimonials__story story">
                    <a class="testimonials__link" href="#">
                        <img class="testimonials__img" src="../img/brends/jpnl.svg" alt="logo" width="79px" height="50px" >
                    </a>
                    <div class="testimonials__content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem
                        </p>
                    </div>
                    <cite class="testimonials__name">
                        Jane Cooper
                        <span class="testimonials__post">
                            CEO, JPNL
                        </span>
                    </cite>
                </blockquote>

                <blockquote class="testimonials__story">
                    <a class="testimonials__link" href="#">
                        <img class="testimonials__img" src="../img/brends/leeveon.svg" alt="logo" width="120px" height="63px">
                    </a>
                    <div class="testimonials__content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem
                        </p>
                    </div>
                    <cite class="testimonials__name">
                        Kristin Watson
                        <span class="testimonials__post">
                            Co-Founder, LeeveOn Branding
                        </span>
                    </cite>
                </blockquote>
            </div>
            
        </div>

        <div class="testimonials__bottom">
            <div class="testimonials__heading">
                <h3 class="testimonials__title title">
                    We serve over 100 Nigerian Websites
                </h3>
                <span class="testimonials__description">
                    Connect LemonWares with your favourite tools that you use daily and keep things on track.
                </span>
            </div>
            <div class="testimonials__brends">
                    <ul class="testimonials__items">
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/jpnl.svg" alt="Logo" width="120px" height="120px">
                            </a>
                        </li>
    
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/korane.svg" alt="Logo">
                            </a>
                        </li>
    
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/nadine.svg" alt="Logo">
                            </a>
                        </li>
    
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/leeveon.svg" alt="Logo">
                            </a>
                        </li>
    
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/glasses.svg" alt="Logo">
                            </a>
                        </li>
    
                        <li class="testimonials__item">
                            <a class="testimonials__link" href="#">
                                <img class="testimonials__image" src="../img/brends/cli.svg" alt="Logo">
                            </a>
                        </li>
                    </ul>
                </div>
           
        </div>
       
    </div>
</section>