<section class="why">
    <div class="container-lg">
        
        <div class="why__top">
            <div class="why__content">
                <h2 class="why__title title">
                    True Cloud Web  Hosting
                </h2>
                <div class="why__text">
                    <p>
                    True Cloud Web Hosting All of the hosting packages we offer are deployed instantly on our SSD powered cloud. We don’t use dedicated servers that operate on single pieces of hardware. Our entire infrastructure is built to be reliable, secure, and scalable.
                    </p>
                </div>
            </div>
            <div class="why__brends">
                <ul class="why__items">
                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/cPanel.svg" alt="Logo">
                        </a>
                    </li>

                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/Imunify360.svg" alt="Logo">
                        </a>
                    </li>

                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/litespeed.svg" alt="Logo">
                        </a>
                    </li>

                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/sobtaculous.svg" alt="Logo">
                        </a>
                    </li>

                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/wordpress.svg" alt="Logo">
                        </a>
                    </li>

                    <li class="why__item">
                        <a class="why__link" href="#">
                            <img class="why__img" src="../img/brends/cloudflare.svg" alt="Logo">
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="why__bottom">
            <ul class="why__blocks">
                <li class="why__block">
                    <h3 class="why__subtitle why__subtitle--uptime">
                        99.9% Uptime
                    </h3>
                    <div class="why__subtext">
                        <p>
                            We Keep Your Web build Online 24x7x365.
                            Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.
                        </p>
                    </div>
                </li>

                <li class="why__block">
                    <h3 class="why__subtitle why__subtitle--fast">
                        Blazing Fast Web Hosting
                    </h3>
                    <div class="why__subtext">
                        <p>
                            We Keep Your Web build Online 24x7x365.
                            Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.
                        </p>
                    </div>
                </li>

                <li class="why__block">
                    <h3 class="why__subtitle why__subtitle--sertificate">
                        Free SSL Certificates
                    </h3>
                    <div class="why__subtext">
                        <p>
                            We Keep Your Web build Online 24x7x365.
                            Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.
                        </p>
                    </div>
                </li>

                <li class="why__block">
                    <h3 class="why__subtitle why__subtitle--support">
                        24x7 Friendly Support
                    </h3>
                    <div class="why__subtext">
                        <p>
                            We Keep Your Web build Online 24x7x365.
                            Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>