.why {
    margin-bottom: 130px;
    
    &__top {
        margin-bottom: 220px;
        @extend %df;

        @include md {
            display: block;
        }
    }

    &__content {
        width: 50%;

        @include md {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.8;
    }

    &__brends {
        width: 50%;

        @include md {
            width: 100%;
        }
    }

    &__items {
        @extend %df;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33%;
        display: flex;
        justify-content: flex-end;
        padding: 25px 0;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.5;
        }

        @include xxl {
            width: 50%;
        }

        @include md {
            justify-content: space-around;
        }
    }

    &__blocks {
        display: flex;
        justify-content: space-around;

        @include xl {
            flex-wrap: wrap;
        }
    }

    &__block {
        max-width: 250px;
        width: 100%;
        text-align: center;
        line-height: 1.5;
        color: $black;

        @include xl {
            &:not(:last-child) {
                margin-bottom: 150px;
            }
        }
       
    }

    &__subtitle {
        @extend %poppins-700;
        font-size: 20px;
        margin-bottom: 5px;
        position: relative;
        &::before {
            position: absolute;
            background-color: $circle;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            bottom: 40px;
            left: calc(50% - 50px);
            line-height: 135px;
        }
        &--uptime {
            &::before {
                content: url("../../img/icons/clock.svg");
            }
        }

        &--fast {
            &:before {
                content: url("../../img/icons/cloud.svg");
            }
        }

        &--sertificate {
            &:before {
                content: url("../../img/icons/sertificate.svg");
            }
        }

        &--support {
            &:before {
                content: url("../../img/icons/support.svg");
            }
        }
    }

    &__subtext {
        @extend %poppins-300;
        font-size: 12px;
    }
}
